{% for ingredient in page_obj %}
<tr class="ingredient-row" data-ingredient-id="{{ ingredient.my_ingredient_id }}" onclick="loadIngredientDetail('{{ ingredient.my_ingredient_id }}', this)">
    <td>{{ forloop.counter }}</td>
    <td>{{ ingredient.prdlst_report_no|default_if_none:'' }}</td>
    <td>{{ ingredient.prdlst_nm|default_if_none:'' }}</td>
    <td>{{ ingredient.prdlst_dcnm|default_if_none:'' }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center">등록된 원료가 없습니다.</td>
</tr>
{% endfor %}
