.idea
db.sqlite3
*.pyc
__pycache__
.env
label/migrations/0001_initial.py
label/migrations/0002_alter_myingredient_search_name.py
label/migrations/0002_alter_myphrase_category_name.py
label/migrations/0002_remove_labelingredientrelation_id_and_more.py
label/migrations/0003_myphrase_note.py
label/migrations/0003_remove_mylabel_ingredient_ids_str.py
label/migrations/0004_remove_labelingredientrelation_bssh_nm_and_more.py
label/migrations/0005_alter_labelingredientrelation_relation_id.py
label/migrations/0006_merge_20250225_1117.py
label/migrations/0007_remove_labelingredientrelation_allergen_and_more.py
label/migrations/0008_mylabel_recommended_label_data.py
label/migrations/0009_delete_allergen_remove_myingredient_ingredient_ratio_and_more.py
label/migrations/0010_remove_foodtype_food_category_and_more.py
label/migrations/0011_mylabel_calories_mylabel_carbohydrates_and_more.py
label/migrations/0012_foodtype_calories_foodtype_carbohydrates_and_more.py
label/migrations/0013_remove_mylabel_food_type_and_more.py
label/migrations/0014_remove_foodtype_idx_prdlst_dcnm_and_more.py
label/migrations/0015_mylabel_food_group_mylabel_food_type_and_more.py
label/migrations/0016_foodtype_relevant_regulations.py
label/migrations/0017_remove_foodtype_calories_and_more.py
label/migrations/0018_alter_foodtype_pog_daycnt.py
label/migrations/0019_mylabel_calories_unit_mylabel_carbohydrates_unit_and_more.py
label/migrations/0020_mylabel_nutrition_text.py
label/migrations/0021_foodtype_prdlst_dcnm.py
label/migrations/0022_foodtype_country_of_origin.py
label/migrations/0023_alter_foodtype_type_check.py
label/migrations/0024_alter_myphrase_options_remove_myphrase_user_id_and_more.py
label/migrations/0025_myphrase_user_id.py
