{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}식품 데이터 포털{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?after">
</head>
<body>
    <!-- Navbar -->
    {% include 'includes/navbar.html' %}

    <!-- Main Content -->
    <main class="container" style="margin-top: 60px; padding-top: 10px;">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'includes/footer.html' %}

    {% bootstrap_javascript %}
</body>
</html>
