{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>내 원료 상세 정보</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container mt-4 popup-container">
    <!-- 상단 헤더 영역 -->
    <div class="header-row">
        <h5>내 원료 상세보기</h5>
        <div class="button-group-level">
            <button type="submit" form="ingredientForm" class="btn btn-primary btn-sm">저장</button>
            <button type="button" class="btn btn-cancel btn-sm" onclick="window.close()">닫기</button>
            {% if mode == 'edit' %}
            <button type="button" class="btn btn-warning btn-sm" onclick="confirmDelete()">삭제</button>
            {% endif %}
        </div>
    </div>
    <div class="card shadow-sm p-4">
        <form method="post" id="ingredientForm">
            {% csrf_token %}
            <input type="hidden" name="my_ingredient_id" id="my_ingredient_id" value="{{ ingredient.my_ingredient_id }}">
            <table class="table table-bordered single-column-table">
                <tbody>
                    <tr>
                        <th>원재료명</th>
                        <td>
                            <input type="text" class="form-control" name="prdlst_nm" id="prdlst_nm"
                                   value="{{ ingredient.prdlst_nm|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>품목보고번호</th>
                        <td>
                            <input type="text" class="form-control" name="prdlst_report_no" id="prdlst_report_no"
                                   value="{{ ingredient.prdlst_report_no|default:'' }}" maxlength="15">
                        </td>
                    </tr>
                    <tr>
                        <th>식품유형</th>
                        <td>
                            <input type="text" class="form-control" name="prdlst_dcnm" id="prdlst_dcnm"
                                   value="{{ ingredient.prdlst_dcnm|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>제조사명</th>
                        <td>
                            <input type="text" class="form-control" name="bssh_nm" id="bssh_nm"
                                   value="{{ ingredient.bssh_nm|default:'' }}">
                        </td>
                    </tr>
                    <tr>
                        <th>원재료 표시명</th>
                        <td>
                            <textarea class="auto-expand form-control form-control-sm"
                                      name="ingredient_display_name"
                                      id="ingredient_display_name"
                                      placeholder="원재료 표시명을 입력하세요">{{ ingredient.ingredient_display_name|default:'' }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>알레르기</th>
                        <td>
                            <input type="text" class="form-control" name="allergens" id="allergens"
                                value="{{ ingredient.allergens|default:'' }}"
                                readonly>
                        </td>
                    </tr>
                    <tr>
                        <th>알레르기 선택</th>
                        <td>
                            <div class="d-flex align-items-center">
                                <div id="allergySelection" class="mt-2"></div> <!-- 알레르기 선택 칸 추가 -->
                                <button type="button" id="allergyToggleButton" class="btn btn-secondary btn-sm ml-2" onclick="toggleAllergySelection()">펼치기</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>GMO</th>
                        <td>
                            <input type="text" class="form-control" name="gmo" id="gmo"
                                value="{{ ingredient.gmo|default:'' }}"
                                readonly>
                        </td>
                    </tr>
                    <tr>
                        <th>GMO 선택</th>
                        <td>
                            <div class="d-flex align-items-center">
                                <div id="gmoSelection" class="mt-2"></div>
                                <button type="button" id="gmoToggleButton" class="btn btn-secondary btn-sm ml-2" onclick="toggleGmoSelection()">펼치기</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script src="{% static 'js/ingredient_options.js' %}"></script>
<script src="{% static 'js/ingredient_detail.js' %}"></script>
<!-- <script>
    document.addEventListener('DOMContentLoaded', () => {
        showAllergyOptions();
        showGmoOptions();
    });
</script> -->
</body>
</html>