<header class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top">
    <div class="container">
        <!-- 네비게이션 로고 및 브랜드 -->
        <a class="navbar-brand" href="{% url 'main:home' %}">식품 데이터 포털</a>
        
        <!-- 네비게이션 메뉴 -->
        <ul class="navbar-nav flex-row me-auto">
            <li class="nav-item me-3">
                <a href="{% url 'label:food_item_list' %}" class="nav-link {% if request.resolver_match.url_name == 'food_item_list' %}active{% endif %}">제품 조회</a>
            </li>
            <li class="nav-item me-3">
                <a href="{% url 'label:my_ingredient_list_combined' %}" class="nav-link {% if request.resolver_match.url_name == 'my_ingredient_list_combined' %}active{% endif %}">원료 관리</a>
            </li>
            <li class="nav-item me-3">
                <a href="{% url 'label:my_label_list' %}" class="nav-link {% if request.resolver_match.url_name == 'my_label_list' %}active{% endif %}">표시사항 관리</a>
            </li>
            <li class="nav-item me-3">
                <a href="{% url 'board:list' %}" class="nav-link {% if request.resolver_match.url_name == 'list' %}active{% endif %}">게시판</a>
            </li>
        </ul>
        
        <!-- 사용자 메뉴 -->
        <div class="d-flex">
            {% if user.is_authenticated %}
                <form action="{% url 'common:logout' %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn btn-link text-white" style="padding: 0;">로그아웃</button>
                </form>
            {% else %}
                <a href="{% url 'user_management:login' %}" class="nav-link text-white d-inline">로그인</a>
                <a href="{% url 'user_management:signup' %}" class="nav-link text-white d-inline ms-3">회원가입</a>
            {% endif %}
        </div>
    </div>
</header>